.red {
	color: red;
	font-size: 20px;

}

.bold {
	font-weight: bold;
	font-size: 50px;
}

.Cockpit button {
	border: 1px solid blue;
	padding: 15px;
	background-color: green;
	font: inherit;
	color: white;
}

.Cockpit button:hover {
	background-color: lightgreen;
	color: black;
}

.Cockpit button.Red {
	background-color: red;
}

.Cockpit button.Red:hover {
	background-color: salmon;
}